contourpy==1.3.1
cycler==0.12.1
fonttools==4.56.0
kiwisolver==1.4.8
libusb1==3.2.0
matplotlib==3.10.0
ndeflib==0.3.3
nfcpy==1.0.4
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pyDes==2.0.1
pyfilters_lib==1.0.3
pyneurosdk2==1.0.14
pyparsing==3.2.1
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6_sip==13.10.0
pyqtgraph==0.13.7
pyscard==2.2.1
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2025.1
six==1.17.0
tzdata==2025.1
